@import '~bootstrap/scss/bootstrap';

// Container 

header {
    height: 100px;
}

.my_container {
    min-height: calc(100vh - 150px);
    width: 100%;
}

footer {
    height: 50px;
    line-height: 50px;
}

.about_container {
    font-size: 16px;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

//General

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.868);
    border: 2px solid rgba(255, 255, 255, 0.868);
    ;
    padding: 3px 10px;
    border-radius: 8px;


}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.868) !important;
    color: rgb(23, 23, 23) !important;
}